div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  footer {
    padding: 3rem;
    text-align: center;
    background-color: #3cc0f0;
    color: #0e2749;
  }

  body {
    background-color: rgb(184, 184, 184);
  }

  h1 {
    padding: 3rem;
  margin-bottom: 2rem;
  background-color: #3cc0f0;
  font-size: 1.5rem;
  }